<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header th:fragment="header">
      <div class="header-top">
        <div class="container">
          <ul class="header-social-container">
            <li>
              <a href="#" class="social-link"
                ><ion-icon name="logo-facebook"></ion-icon
              ></a>
            </li>
            <li>
              <a href="#" class="social-link"
                ><ion-icon name="logo-instagram"></ion-icon
              ></a>
            </li>
          </ul>

          <div class="header-alert-news">
            <p><b>Miễn Phí Vận Chuyển</b> Cho Đơn Hàng Trên 100.000đ</p>
          </div>

          <div class="header-top-actions">
            <select name="language">
              <option value="vi-VN">Tiếng Việt</option>
            </select>
          </div>
        </div>
      </div>

      <div class="header-main fixed-main">
        <div class="container">
          <a th:href="@{/}" class="header-logo">
            <img
              th:src="@{/images/logo/logo.svg}"
              alt="Logo Mộc"
              width="120"
              height="36"
            />
          </a>

          <div class="header-search-container" style="position: relative">
            <input
              type="search"
              name="search"
              id="live-search-field"
              class="search-field"
              placeholder="Nhập tên sản phẩm muốn tìm kiếm..."
              autocomplete="off"
            />
            <button class="search-btn" style="pointer-events: none">
              <ion-icon name="search-outline"></ion-icon>
            </button>

            <div id="search-results-dropdown"></div>
          </div>

          <div class="header-user-actions">
            <a
              th:if="${session.loggedInCustomer}"
              th:href="@{/account}"
              class="action-btn"
            >
              <ion-icon name="person-outline"></ion-icon>
            </a>
            <a
              th:unless="${session.loggedInCustomer}"
              th:href="@{/auth}"
              class="action-btn"
            >
              <ion-icon name="log-in-outline"></ion-icon>
            </a>
            <a th:href="@{/cart}" class="action-btn">
              <ion-icon name="bag-handle-outline"></ion-icon>
              <span
                class="count"
                th:with="loggedInCustomer=${session.loggedInCustomer}"
                th:text="${loggedInCustomer != null ? @cartService.getTotalItems(loggedInCustomer) : '0'}"
                >0</span
              >
            </a>
          </div>
        </div>
      </div>

      <nav class="desktop-navigation-menu">
        <div class="container">
          <ul class="desktop-menu-category-list">
            <li class="menu-category">
              <a th:href="@{/}" class="menu-title"></a>
            </li>
            <li class="menu-category">
              <a href="#" class="menu-title"></a>
            </li>

            <li class="menu-category">
              <a href="#" class="menu-title"></a>
            </li>
            <li class="menu-category">
              <a href="#" class="menu-title"></a>
            </li>
            <li class="menu-category">
              <a href="#" class="menu-title"></a>
            </li>
            <li class="menu-category">
              <a href="#" class="menu-title"></a>
            </li>
            <li class="menu-category">
              <a href="#flash-sale" class="menu-title"></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
